doctype 5
html(lang="en")
  head
    title So many games!
    link(href="main.css", type="text/css", rel="stylesheet")
    script(src="jquery-1.7.2.js")
    script(src="games.js")
  body
    #content
      p.alignRight
        a(href="/auth/steam")
          img(src="sits_large_noborder.png")
      h1#title Got too many Steam games?
      form(onsubmit="return false")
        p
          input#username(type="text", class="greyed", name="username", onchange="loadGames()", value="Username", onfocus="clearBox(this)")
          | &nbsp;
          //- label(for="hours") Threshold:&nbsp;
          //- input#hours(type="text", value="1", name="hours", onchange="loadGames()")
    #games
      #loading
      table#gamesTab

